# Introduction to the Dataset Object

The `Dataset` object is a powerful tool for working with structured data in Python. It provides a convenient interface for loading, manipulating, and analyzing datasets. Whether you are working with tabular data, time series data, or any other structured data, the `Dataset` object can streamline your workflow and make your data analysis tasks more efficient.

In this tutorial, we will explore the various features and functionalities of the `Dataset` object. We will learn how to load datasets, access and manipulate data, perform common data preprocessing tasks, and visualize the data. By the end of this tutorial, you will have a solid understanding of how to effectively work with the `Dataset` object and leverage its capabilities for your data analysis projects.

Let's get started!

# Creating a Dataset

First, let's create a dataset using the famous Iris dataset from `sklearn`.

In [1]:
from sklearn import datasets

iris = datasets.load_iris()
iris.keys()

dict_keys(['data', 'target', 'frame', 'target_names', 'DESCR', 'feature_names', 'filename', 'data_module'])

In [2]:
import pandas as pd
from holisticai.datasets import Dataset

X = pd.DataFrame(iris['data'], columns=iris['feature_names'])
y = pd.Series(iris['target'], name='target')

ds = Dataset(X=X, y=y)
ds

Dataset({
        features: ['X', 'y'],
        num_rows: 150
    })

# Loading a Dataset

You can load a dataset with personalized parameters such as `protected_attribute`. For the `law_school` dataset, the protected attributes are the groups `race1` (ethnicity) and `sex` (gender).

In [3]:
from holisticai.datasets import load_dataset

dataset = load_dataset('adult', protected_attribute='sex')
dataset

Dataset({
        features: ['X', 'y', 'group_a', 'group_b'],
        num_rows: 45222
    })

## Accessing Data

Let's look at how to access features and samples in the dataset.

### Accessing Features

To access the features in the dataset:

In [4]:
dataset['X']

,age,fnlwgt,education-num,capital-gain,capital-loss,hours-per-week,workclass_Federal-gov,workclass_Local-gov,workclass_Never-worked,workclass_Private,...,native-country_Portugal,native-country_Puerto-Rico,native-country_Scotland,native-country_South,native-country_Taiwan,native-country_Thailand,native-country_Trinadad&Tobago,native-country_United-States,native-country_Vietnam,native-country_Yugoslavia
0,25,226802,7,0,0,40,0,0,0,1,...,0,0,0,0,0,0,0,1,0,0
1,38,89814,9,0,0,50,0,0,0,1,...,0,0,0,0,0,0,0,1,0,0
2,28,336951,12,0,0,40,0,1,0,0,...,0,0,0,0,0,0,0,1,0,0
3,44,160323,10,7688,0,40,0,0,0,1,...,0,0,0,0,0,0,0,1,0,0
4,34,198693,6,0,0,30,0,0,0,1,...,0,0,0,0,0,0,0,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
45217,27,257302,12,0,0,38,0,0,0,1,...,0,0,0,0,0,0,0,1,0,0
45218,40,154374,9,0,0,40,0,0,0,1,...,0,0,0,0,0,0,0,1,0,0
45219,58,151910,9,0,0,40,0,0,0,1,...,0,0,0,0,0,0,0,1,0,0
45220,22,201490,9,0,0,20,0,0,0,1,...,0,0,0,0,0,0,0,1,0,0
45221,52,287927,9,15024,0,40,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0

### Accessing a Sample

To access a specific sample in the dataset:

In [5]:
dataset[0]

{'X': subfeatures
 age                                   25
 fnlwgt                            226802
 education-num                          7
 capital-gain                           0
 capital-loss                           0
                                    ...
 native-country_Thailand                0
 native-country_Trinadad&Tobago         0
 native-country_United-States           1
 native-country_Vietnam                 0
 native-country_Yugoslavia              0
 Name: 0, Length: 82, dtype: int64,
 'y': np.int64(0),
 'group_a': np.True_,
 'group_b': np.False_}

## Manipulating Data

### Creating New Features

You can create new features in the dataset using the `map` function:

In [6]:
dataset.map(lambda x: {'group_c': x['group_a'], 'group_d': x['group_b']})

Dataset({
        features: ['X', 'y', 'group_a', 'group_b', 'group_c', 'group_d'],
        num_rows: 45222
    })

### Renaming Features

You can rename features in the dataset:

In [7]:
dataset.rename({'group_a': 'ga'})

Dataset({
        features: ['X', 'y', 'ga', 'group_b'],
        num_rows: 45222
    })

### Selecting Specific Indices

To select specific indices in the dataset:

In [8]:
dataset.select([1, 2, 3])

Dataset({
        features: ['X', 'y', 'group_a', 'group_b'],
        num_rows: 3
    })

### Filtering Data

To filter the dataset based on a condition:

In [9]:
dataset.filter(lambda x: x['group_a'] == True)

Dataset({
        features: ['X', 'y', 'group_a', 'group_b'],
        num_rows: 30527
    })

## Grouping Data

### Creating Groups

You can create groups in the dataset using one or more features:

In [10]:
grouped_dataset = dataset.groupby(['group_a', 'y'])
grouped_dataset

GroupByDataset({
        names: ['group_a', 'y'],
        features: ['X', 'y', 'group_a', 'group_b'],
        count: 4
    })

### Iterating Over Groups

You can iterate over the groups in the dataset:

In [11]:
grouped_dataset.count()

   group_a  y  group_size
0    False  0       13026
1    False  1        1669
2     True  0       20988
3     True  1        9539

### Selecting the First N Elements of Each Group

To select the first 10 elements for each group in the dataset:

In [12]:
grouped_dataset.head(10)

Dataset({
        features: ['X', 'y', 'group_a', 'group_b'],
        num_rows: 40
    })

### Sampling Elements from Each Group

To sample 10 elements from each group in the dataset:

In [13]:
grouped_dataset.sample(20)

Dataset({
        features: ['X', 'y', 'group_a', 'group_b'],
        num_rows: 80
    })

## Splitting the Dataset

You can split the dataset for training and testing purposes:

In [14]:
train_test = dataset.train_test_split(test_size=0.2, random_state=42)
train_test

DatasetDict({
    train: Dataset({
        features: ['X', 'y', 'group_a', 'group_b'],
        num_rows: 36177
    }),
    test: Dataset({
        features: ['X', 'y', 'group_a', 'group_b'],
        num_rows: 9045
    })
})